<footer>
    <div id="footer-content" class="content">
        <div>
            <h4>Comparte AFP VidaLife</h4>
        </div>
        <div>
            <h4>Enlaces</h4>

            <ul>
                <li>
                    <a href="/planes.html">Planes</a>
                </li>
                <li>
                    <a href="/calculadora.html">Calcula tu rentadilibad</a>
                </li>
                <li>
                    <a href="/testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="https://lalegal.news/contacto">Contáctanos</a>
                </li>
            </ul>

        </div>
    </div>
</footer>