<footer>
    <div id="footer-content" class="content">
        <div>
            <h4>Comparte AFP VidaLife</h4>
            <li>
                <a href="https://twitter.com/intent/tweet?button_hashtag=AFPVidaLife&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #AFPVidaLife</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </div>
        <div>
            <h4>Enlaces</h4>

            <ul>
                <li>
                    <a href="/planes.html">Planes</a>
                </li>
                <li>
                    <a href="/calculadora.html">Calcula tu rentadilibad</a>
                </li>
                <li>
                    <a href="/testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="https://lalegal.news/contacto">Contáctanos</a>
                </li>
            </ul>

        </div>
    </div>
</footer>