<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0" nonce="qD4XBa8E"></script>
<footer>
    <div id="footer-content" class="content">
        <div>
            <h4>#AFPVidaLife</h4>
            <li>
                <a href="https://twitter.com/intent/tweet?button_hashtag=AFPVidaLife&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #AFPVidaLife</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
                <div class="fb-share-button" data-href="https://afpvidalife.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fafpvidalife.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            </li>
        </div>
        <div>
            <h4>Ayuda</h4>

            <ul>
                <li>
                    <a href="/planes.html">Planes</a>
                </li>
                <li>
                    <a href="/calculadora.html">Calcula tu rentadilibad</a>
                </li>
                <li>
                    <a href="/testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="https://lalegal.news/contacto">Contáctanos</a>
                </li>
            </ul>

        </div>
    </div>
</footer>