<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150359782-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150359782-4');
</script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta property="og:title" content="{{page.title}}" />
    {% else %}
    <title>{{ site.title }} - Más vale ahorra que nunca</title>
    <meta property="og:title" content="{{site.title}}" />
    {% endif %}
    <meta property="og:site_name" content="AFP VidaLife" />
    <meta property="og:description" content="La AFP de la gente mas mejor. Súmate a la familia VidaLife y descubre el poder del dinero fácil." />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/vidalife.js"></script>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <meta property="og:url" content="https://afpvidalife.com{{page.url}}" />
    <meta property="og:image" content="https://afpvidalife.com/assets/img/logo.jpg" />

  </head>