#hero h1 {
    color:$orange;
    padding-top:50%;
    margin-bottom: 12px;
}
#hero {
    margin-bottom: 24px;
}
#home p {
    margin-bottom: 24px;
}
#hero h2 {
    color: white;
    font-size: 20px;
}
#home-call-to-action {
    text-align: center;
    padding:24px;
}
#home h1 {
    margin-bottom: 24px;
    color:white;
}
#home ol li {
    font-size: 10px;
    list-style-type: decimal;
    margin-left:10px;
}