@media (min-width: 768px) { 
    #menu {
        position: relative;
        display: block;
        flex-grow: 2;
        top:0;
        overflow: hidden;
    }
    #menu li {
        display: inline;
        margin-right: 12px;
        line-height: 48px;
    }
    #menu-button {
        display: none;
    }
    #hero h1 {
        padding-top: 150px;
    }
    #hero-content img {
        margin-left: -10px;
    }
    #logo img {
        margin-left: -24px;
    }
    #footer-content {
        display: flex;
        flex-direction: row;
    }
    #footer-content div {
        padding: 0 12px;
    }
    #footer-content div:first-child {
        padding-left: 0;
    }
    #footer-content div:last-child {
        padding-right: 0;
    }
}