.testimonio {
    display: flex;
    width: 100%;
    flex-direction: grow;
    margin-bottom: 32px;

}
.testimonio img {
    width: 127px;
    height: 127px;
    min-width: 127px;
    object-fit: cover;
    margin-right: 12px;
    border-radius: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.testimonio p {
    margin-top: 0;
    padding-top: 0;
}