<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <div id="hero">
        <div class="content" id="hero-content">
        <img src="/assets/img/ejecutivo0.png">
        <h1>Tenemos rentabilidad casi siempre</h1>
    </div>
    </div>
    <div class="content">
    {{ content}}
  </div>
  </body>
</html>
