<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  {% include head.html %}
  <body id="home">
    {% include header.html %}
    <div id="hero">
        <div class="content" id="hero-content">
        <img src="/assets/img/ejecutivo0.png">
        <div>
          <h1>Te apollamos casi siempre</h1>

          <h2>Avivate! En VidaLife tenemos mas de 3,800 planes para que confies tus ahorros en nosotros.</h2>

        </div>
    </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div id="home-call-to-action">
      <h3>Avivate ql</h3>
      <p>VidaLife es vida. Queris morir? </p>
      <a class="btn" href="/planes.html">Conoce nuestros planes</a>
    </div>
  </body>
</html>
